* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

main {
  margin: -1rem;
}

h1,
h2,
h3,
a,
li,
p,
h4 {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  color: #744749;
}

h3 {
  font-size: 1.5rem;
  color: #744749;
}

.red_section h3 {
  color: #fff;
}

p,
.white_section li {
  font-weight: normal;
  line-height: 1.8rem;
  color: #a09293;
}

header {
  background-color: #db524d;
}

header h2 {
  color: #fff;
}

header ul li {
  list-style: none;
  text-decoration: none;
}

header ul li a {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.red_section {
  background-color: #db524d;
  color: #fff;
  padding: 2rem;
}

button {
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 2px;
  color: #db524d;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
}

.white {
  margin: 2rem 5rem 2rem 5rem;
}

.white h2,
.whatis_timer,
.whatis_tech,
.howto,
.features,
.download {
  padding: 2rem;
}

@media (min-width: 700px) {
  /* main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  }
  main > section {
    grid-column: 2/3;
  } */

  .white_section {
    display: grid;
    grid-template-columns: 1fr minmax(0, 900px) 1fr;
  }
  .white_section > .white {
    grid-column: 2/3;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 15rem 1rem 15rem;
    border-bottom: 1px solid #000;
    margin: 0;
  }

  .buttons ul {
    list-style: none;
    display: flex;
    place-content: center;
  }

  .buttons ul li {
    padding: 1rem;
  }
  header ul li a {
    background-color: #df645f;
    margin: 0.5rem;
  }

  .timer {
    display: flex;
    place-content: center;
  }

  .button {
    display: flex;
    place-content: center;
  }

  .timetowork {
    display: flex;
    place-content: center;
  }

  .tasks {
    display: flex;
    place-content: center;
    justify-content: space-between;
    margin: 1rem 25rem 1rem 25rem;
    padding: 1rem;
    border-bottom: #c88480 solid 1px;
  }

  .task_box {
    display: flex;
    place-content: center;
    border: #c88480 dashed 2px;
    border-radius: 3px;
    margin: 1rem 25rem 1rem 25rem;
    padding: 1rem;
    background-color: #c94b46;
  }

  .task_box h4 {
    color: #db8f8b;
  }

  .timer {
    padding: 1rem;
    font-size: 5rem;
  }

  .timer_box {
    background-color: #df645f;
    margin: 1rem 22rem 1rem 22rem;
    border-radius: 5px;
  }

  .timer_box button {
    padding: 1rem 3rem 1rem 3rem;
    margin: 1rem;
  }
}
